@import "../../Style/variables.scss";

.WorkoutCard {
  background: $grey-900;
  padding: 16px;
  width: 100%;
  max-width: 698px;
  display: flex;
  align-items: center;
  max-height: 150px;
  margin: 24px;
  .DataVis {
    width: 176px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .DataDisplay {
    flex-grow: 1;
    margin-left: 16px;
    .DataDisplay-Info {
      margin-bottom: 8px;
      &--ZoneType {
        font-size: 12px;
        color: $grey-300;
        line-height: 1.5;
        font-weight: 400;
      }
      &--Title {
        font-size: 24px;
        color: $grey;
        line-height: 1.208;
        font-weight: 700;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
          font-size: 18px;
          color: $yellow;
        }
      }
    }
    &-Data {
      display: flex;
      border-top: 1px solid $grey-700;
      border-bottom: 1px solid $grey-700;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-Section {
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
        & > span {
          color: $grey-100;
          font-size: 16px;
          line-height: 1.688;
          display: flex;
          align-items: center;
          i {
            font-size: 12px;
            position: relative;
            top: 2px;
            margin-left: 6px;
            color: $orange;
          }
          .sec {
            font-size: 14px;
            position: relative;
            top: 1.5px;
          }
        }
        p {
          margin: 0;
          color: $grey-500;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
  @media (max-width: 500px) {
    max-height: fit-content;
    flex-wrap: wrap;
    .DataVis {
      width: 100%;
    }
    .DataDisplay {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
